@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 -  Not Found</title>
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body class="bg-light text-center">
    <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
        <h1 class="display-1 text-danger">🎉 Congratulations!</h1>
        <p class="lead">Your account has been successfully created!.</p>
        <a href="@Url.Action("SignIn","Account")" class="btn btn-primary">Go to Login Page</a>
    </div>
</body>
</html>
