@model Warungku.Core.Domain.DTOs.PosRequest


@{
    ViewData["Title"] = "Point of Sales - WarungKu POS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="mb-4"><i class="fas fa-cash-register"></i> Point Of Sales</h2>

<!-- POS Header -->
<div class="pos-header">
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group row">
                    <label for="userLogin" class="col-sm-6 col-form-label">User Login</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="userLogin" value="@ViewBag.currentUser">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="customerName" class="col-sm-6 col-form-label">Customer Name</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="customerName" value="">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <form>
                <div class="form-group row">
                    <label for="discount" class="col-sm-6 col-form-label">Discount (%)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="discount" value="0" style="text-align:right;">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="voucher" class="col-sm-6 col-form-label">Voucher (Rp)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="voucher" value="0" style="text-align:right;">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Summary Section -->
<div class="pos-summary">
    <div class="row text-center">
        <div class="col-md-3">
            <h4>Total</h4>
            <h3 id="totalText"></h3>
        </div>
        <div class="col-md-3">
            <h4>Discount</h4>
            <h3 class="discount" id="discountText">0</h3>
        </div>
        <div class="col-md-3">
            <h4>Voucher</h4>
            <h3 class="voucher" id="voucherText">0</h3>
        </div>
        <div class="col-md-3">
            <h4>Grand Total</h4>
            <h3 class="grand-total" id="grandTotalText">0</h3>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h5>Payment</h5>
        </div>
        <div class="payment-buttons">
            <button type="button" id="cashPaymentModalBtn" class="btn btn-primary">
                Cash
            </button>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#non_cashPaymentModal">
                Non Cash
            </button>
        </div>
    </div>
</div>

<!-- Add Item Section -->
<div class="add-item-section">
    <form asp-action="Create" asp-controller="PointOfSales" method="post">
        @Html.AntiForgeryToken()
    <div class="row align-items-end">
        <div class="col-md-3">
            <select asp-for="ProductId" class="form-control" asp-items="Model.Products">
                <option value="">-- Select Item --</option>
            </select>
           
        </div>
        <div class="col-md-2">
                <input asp-for="Quantity" type="text" class="form-control" placeholder="Quantity" class="form-control" />
           
        </div>
        <div class="col-md-2">
                <input asp-for="Price" type="text" class="form-control" placeholder="Price" class="form-control" />
        </div>
        <div class="col-md-3">
                <button type="button" id="addBtn" class="w-100 btn btn-add  btn-secondary"> Add </button>
        </div>
    </div>
</form>
</div>

<!-- Items Table -->
<div class="card">
    <div class="card-body p-0">
        <table id="grid" class="table table-bordered pos-table mb-0">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!-- start Modal Cash -->
<div class="modal fade" id="cashPaymentModal" tabindex="-1" aria-labelledby="cashPaymentModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="cashPaymentModal">Cash Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateTransaction" method="post" >
                    <div class="form-group row">
                        <label for="GrandTotal" class="col-sm-4 col-form-label">Grand Total</label>
                        <div class="col-sm-8">
                            <input style="text-align:right;" type="text" class="form-control" id="grandTotalCash" value="9650" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="GrandTotal" class="col-sm-4 col-form-label">Grand Total</label>
                        <div class="col-sm-8">
                            <input style="text-align:right;" type="text" class="form-control" id="grandTotalCash" value="9650" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Cash" class="col-sm-4 col-form-label">Cash</label>
                        <div class="col-sm-8">
                            <input style="text-align:right;" type="text" class="form-control" id="cash">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Change" class="col-sm-4 col-form-label">Change</label>
                        <div class="col-sm-8">
                            <input style="text-align:right;" type="text" class="form-control" id="changeCash" value="" readonly>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Cash -->
<!-- start Modal NON Cash -->
<div class="modal fade" id="non_cashPaymentModal" tabindex="-1" aria-labelledby="non_cashPaymentModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="non_cashPaymentModal">Non Cash Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="GrandTotal" class="col-sm-4 col-form-label">Grand Total</label>
                        <div class="col-sm-8">
                            <input style="text-align:right;" type="text" class="form-control" id="GrandTotalNon" value="9650" readonly>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Cash" class="col-sm-4 col-form-label">Evidence No</label>
                        <div class="col-sm-8">
                            <input style="text-align:right;" type="text" class="form-control" id="evidenceNo">
                        </div>
                    </div>                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
</div>
<div id="modal-add-placeholder"></div>

<!-- End Modal Cash -->
@section Scripts {
    <script src="~/assets/js/page/pos.js"></script>

}